.hero-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.hero-container {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.hero-hero-heading {
  max-width: 800px;
  text-align: center;
}
.hero-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.hero-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media(max-width: 991px) {
  .hero-hero1 {
    flex-direction: column;
  }
  .hero-container {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .hero-hero-heading {
    text-align: center;
  }
  .hero-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .hero-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .hero-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .hero-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .hero-container {
    margin-bottom: var(--dl-space-space-unit);
  }
  .hero-btn-group {
    flex-direction: column;
  }
}
